
.titles{
    position: absolute;
width: 626px;
height: 51px;
left: 300px;
top: 250px;

background: #B57369;
border-radius: 20px 20px 0px 0px;
}
.name{
    position: absolute;
width: 58px;
height: 25px;
left: 57px;
bottom: 260px;

font-family: 'Euclid Circular B';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;

color: #FFFFFF;
}

.birthday{
    position: absolute;
width: 82px;
height: 25px;
left: 255px;
bottom: 260px;

font-family: 'Euclid Circular B';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;

color: #FFFFFF;

}
.gender{position: absolute;
width: 71px;
height: 25px;
left: 500px;
bottom: 260px;

font-family: 'Euclid Circular B';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;

color: #FFFFFF;
}
.class{
    position: absolute;
width: 706px;
height: 32px;
left: 367px;
top: 310px;

background: #F7F7F7;
border: 1px solid #EEEEEE;
}

h1{
    position: absolute;
width: 799px;
height: 89px;
left: 251px;
top: 103px;

font-family: 'Euclid Circular B';
font-style: normal;
font-weight: 700;
font-size: 70px;
line-height: 89px;



color: #FFFFFF;
}
.fcard{
    position: absolute;
width: 1080px;
height: 305px;
left:  300px;
top: 409px;

background: #FFFFFF;
border-radius: 0px 0px 20px 20px;
}
#people{
    position: absolute;
    top : 159px;
    left:280px;
    width: 626px;
    height: 130px;
    background: #FFFFFF;
  

}
tr{
    height:50px;
}

td{
    position: absolute;
    top:0px;
    left: 0px;
    font-family: 'Euclid Circular B';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    
    color: #000;
    background:#FFFFFF;
}


.search{

    position: absolute;
    width: 626px;
    height: 56px;
    left: 300px;
    bottom: 310px;
    
    background: #FFFFFF;
}
#search{
    position: absolute;
width: 506px;
height: 42px;
left: 7px;
top: 2px;

background: #FFFFFF;
border: 1px solid  #FFFFFF;
}
#search1{
    position: absolute;
    left: 30px;
    top: 10px;
    width: 382px;
    height: 24px;
    position: absolute;
    font-family: 'Euclid Circular B';
font-style: italic;
font-weight: 400;
font-size: 14px;
line-height: 18px;
    background: #F7F7F7;
   
}

body{
    background-image: url("./Balloons.png");
    background-color: #E1988C;
}
#firstn{
    position: absolute;
width: 72px;
height: 18px;
top:20px;


font-family: 'Euclid Circular B';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;



color: #B57369;

}
#lastn{
    position: absolute;
    width: 72px;
    height:18px;
    left: 220px;
   top:20px;

    font-family: 'Euclid Circular B';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
color: #B57369;
}
#fname{
    box-sizing: border-box;

position: absolute;
width: 125px;
height: 24px;
top:40px;

background: #F7F7F7;
border: 1px solid #EEEEEE;
border-radius: 5px;
}
#d{
    font-family: 'Euclid Circular B';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;



color: #995D53;

}

#date{
    box-sizing: border-box;

position: absolute;
width: 125px;
height: 24px;

background: #F7F7F7;
border: 1px solid #EEEEEE;
border-radius: 5px;
}
#genders{
    position: absolute;
width: 50px;
height: 18px;
left: 462px;
top: 20px;

font-family: 'Euclid Circular B';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;



color: #995D53;

}
#lname{
    box-sizing: border-box;

    position: absolute;
    left: 220px;
    top: 40px;
    width: 125px;
    height: 24px;

    background: #F7F7F7;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    }

.males{
    position: absolute;
    left:30px;
}
.female{
    position: absolute;
    left: 55px;
}
.females{
    position: absolute;
    left: 95px;
}
.wishlist{
    position: absolute;
    left:220px;
    top:100px;
    font-family: 'Euclid Circular B';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;



color: #995D53;
}
#wishlist{
    width: 320px;
    height:80px;
    background: #F7F7F7;
border: 1px solid #EEEEEE;
border-radius: 5px;
}
#p{
    position: absolute;
    top:140px;
    font-family: 'Euclid Circular B';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;



color: #995D53;

}
#password{
    position:absolute;
    top:160px;
    width:120px;
    background: #F7F7F7;
border: 1px solid #EEEEEE;
border-radius: 5px;
}
.buttons{
    position:absolute;
    top:220px;
    left:450px;
}
#ok{
    position:absolute;
    left:5px;
width:100px;
font-family: 'Euclid Circular B';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

    color: #FFFFFF;
    box-sizing: border-box;
    background: #B57369;
border: 1px solid #995D53;
border-radius: 5px;
}

#cancel{
    position:absolute;
    right:0px;
    width:100px;
    font-family: 'Euclid Circular B';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

color: #995D53;

    box-sizing: border-box;
    background: #F7F7F7;
border: 1px solid #EEEEEE;
border-radius: 5px;
}
#plus{
    position: absolute;
    top: 489px;
    left:286px;
    width:630px;
    background: #FFF;
    border-radius: 0px 0px 20px 20px;
    }

table{
    position: absolute;
    top:200px;
}