#show{
    positon: absolute;
    top:560px;
    left :141px;
    width:840px;
    background:#fff;
}
.titles{
    position: absolute;
width: 840px;
height: 51px;
left: 6px;
bottom: 152px;

background: #B57369;
border-radius: 20px 20px 0px 0px;
}
/* .titles2{
    position: absolute;
    width: 870px;
    height: 61px;
    left: 0px;
    top: 850px;
    
    background: #B57369;
    border-radius: 20px 20px 0px 0px;
} */
thead{
    position:absolute;
    top:0px;
}
.name{
    position: absolute;
width: 58px;
height: 25px;
left: 68px;
bottom: 10px;

font-family: 'Euclid Circular B';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
cursor:pointer;

color: #FFFFFF;
}
.name2{
    position: absolute;
width: 58px;
height: 25px;
left: 57px;
bottom: 190px;

font-family: 'Euclid Circular B';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;

color: #FFFFFF;
}

.birthday{
    position: absolute;
width: 82px;
height: 25px;
left: 255px;
bottom: 10px;

font-family: 'Euclid Circular B';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
cursor:pointer;

color: #FFFFFF;

}
.birthday2{
    position: absolute;
width: 82px;
height: 25px;
left: 255px;
bottom: 190px;

font-family: 'Euclid Circular B';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;

color: #FFFFFF;

}
.gender{position: absolute;
width: 71px;
height: 25px;
left: 500px;
bottom: 10px;

font-family: 'Euclid Circular B';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
cursor:pointer;

color: #FFFFFF;
}
.gender2{
    position: absolute;
    width: 71px;
    height: 25px;
    left: 500px;
    bottom: 190px;
    
    font-family: 'Euclid Circular B';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    
    color: #FFFFFF;
    }
.class{
    position: absolute;
width: 706px;
height: 32px;
left: 367px;
top: 310px;

background: #F7F7F7;
border: 1px solid #EEEEEE;
}

h1{
    position: absolute;
width: 799px;
height: 89px;
left: 231px;
top: 153px;

font-family: 'Euclid Circular B';
font-style: normal;
font-weight: 700;
font-size: 70px;
line-height: 89px;



color: #FFFFFF;
}
.fcard{
    position: absolute;
width: 815px;
height: 305px;
left:  147px;
top: 580px;

background: #FFFFFF;
border-radius: 0px 0px 20px 20px;
}
#people{
    position: absolute;
    top : 159px;
    left:280px;
    width: 626px;
    height: 130px;
    background: #FFFFFF;
  

}
tbody{
    position:absolute;
    width:840px;
    min-height: 180px;
    background-color: #Fff;
    left:8px;
    top:-100px;
}
#t1{
    position: absolute;
width: 840px;
height: 60px;
left: 0px;
bottom: 60px;

background: #FFFFFF;
}
#t2{
    position: absolute;
    width: 840px;
    height: 60px;
    left:0px;
    bottom: 0px;
    
    background: #FFFFFF;
}
tr{
    transition: all .25s ease-in-out;

    position: absolute;
    width: 840px;
    height: 60px;
    left:0px;
    background: #FFFFFF;
   
}


td{
    position: absolute;
width: 108px;
height: 18px;
left: 0px;
top: 0px;
column-span: 3px;

font-family: 'Euclid Circular B';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

color: #995D53;
}

/* #t4{
    position: absolute;
    width: 870px;
    height: 60px;
    left: 0px;
    bottom:70px;
    
    background: #FFFFFF;  
} */
#tname1{
    position:absolute;
    position: absolute;
width: 108px;
height: 18px;
left: 57px;
top: 0px;

font-family: 'Euclid Circular B';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

color: #995D53;


}

#tdate1{
    position: absolute;
width: 71px;
height: 20px;
left: 255px;
top: 0px;

font-family: 'Euclid Circular B';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

color: #995D53;

}
#tgender1{
    position: absolute;
width: 38px;
height: 20px;
left: 500px;
top: 0px;

font-family: 'Euclid Circular B';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

color: #995D53;

}
#tedit1{
    position: absolute;
    width: 29px;
    height: 20px;
    left:581px;
    top:0px;
    
    font-family: 'Euclid Circular B';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    text-decoration-line: underline;
    cursor:pointer;
    color: #995D53;
    
    

}
#tdelete1{
    position: absolute;
left: 630px;
right: 25.49%;
top: 0px;
width:0px;
height: 0px;
cursor:pointer;

border: 2px solid #995D53;
}

#tname2{

position: absolute;
width: 115px;
height: 20px;
left: 57px;
top: 0px;

font-family: 'Euclid Circular B';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

color: #995D53;
}
#tdate2{
    position: absolute;
width: 58px;
height: 20px;
left: 305px;
top: 0px;

font-family: 'Euclid Circular B';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

color: #995D53;

}
#tgender2{
    position: absolute;
width: 38px;
height: 20px;
left: 460px;
top: 0px;

font-family: 'Euclid Circular B';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

color: #995D53;
}
#tedit2{
    position: absolute;
    width: 29px;
    height: 20px;
    left: 561px;
    top: 0px;
    
    font-family: 'Euclid Circular B';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    text-decoration-line: underline;
    
    color: #995D53;
    
}
#tdelete2{
    position: absolute;
left: 140px;
right: 25.49%;
top: 47.44%;
top:0px;

border: 2px solid #995D53;
}
/* #tname3{
    position: absolute;
width: 115px;
height: 20px;
left: 57px;
top: 0px;

font-family: 'Euclid Circular B';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

color: #995D53;
}
#tdate3{
    position: absolute;
width: 58px;
height: 20px;
left: 255px;
top: 0px;

font-family: 'Euclid Circular B';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

color: #995D53;
}
#tgender3{
    position: absolute;
width: 38px;
height: 20px;
left: 500px;
top: 0px;

font-family: 'Euclid Circular B';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

color: #995D53;
}

#tedit3{
    position: absolute;
    width: 29px;
    height: 20px;
    left: 581px;
    top: 0px;
    
    font-family: 'Euclid Circular B';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    text-decoration-line: underline;
    
    color: #995D53;
    
}
#tdelete3{
    position: absolute;
left: 73.12%;
right: 25.49%;
top: 47.44%;
top:0px;

border: 2px solid #995D53;
}

#tname4{
    position: absolute;
width: 115px;
height: 20px;
left: 57px;
top: 0px;

font-family: 'Euclid Circular B';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

color: #995D53;
}
#tdate4{
    position: absolute;
width: 58px;
height: 20px;
left: 255px;
top: 0px;

font-family: 'Euclid Circular B';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

color: #995D53;
}
#tgender4{
    position: absolute;
width: 38px;
height: 20px;
left: 500px;
top: 0px;

font-family: 'Euclid Circular B';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

color: #995D53;
}

#tedit4{
    position: absolute;
    width: 29px;
    height: 20px;
    left: 581px;
    top: 0px;
    
    font-family: 'Euclid Circular B';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    text-decoration-line: underline;
    
    color: #995D53;
    
}
#tdelete4{
    position: absolute;
left: 73.12%;
right: 25.49%;
top: 47.44%;
top:0px;

border: 2px solid #995D53;
} */


.search{

    position: absolute;
    width: 840px;
    height: 56px;
    left: 150px;
   top: 410px;
    
    background: #FFFFFF;
}
#search{
    
position: absolute;
width: 352px;
height: 18px;
left: 405px;
top: 317px;

font-family: 'Euclid Circular B';
font-style: italic;
font-weight: 400;
font-size: 14px;
line-height: 18px;
/* identical to box height */


color: #808080;
}
#search1{
    position: absolute;
    left: 30px;
    top: 10px;
    width: 382px;
    height: 24px;
    position: absolute;
    font-family: 'Euclid Circular B';
font-style: italic;
font-weight: 400;
font-size: 14px;
line-height: 18px;
    background: #F7F7F7;
   
}

body{
    background-image: url("./Balloons.png");
    background-color: #E1988C;
}
#firstn{
    position: absolute;
width: 72px;
height: 18px;
top:20px;


font-family: 'Euclid Circular B';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;



color: #B57369;

}
#lastn{
    position: absolute;
    width: 72px;
    height:18px;
    left: 320px;
   top:20px;

    font-family: 'Euclid Circular B';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
color: #B57369;
}
#fname{
    box-sizing: border-box;

position: absolute;
width: 125px;
height: 24px;
top:40px;

background: #F7F7F7;
border: 1px solid #EEEEEE;
border-radius: 5px;
}
#d{
    font-family: 'Euclid Circular B';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;



color: #995D53;

}

#date{
    box-sizing: border-box;

position: absolute;
width: 125px;
height: 24px;

background: #F7F7F7;
border: 1px solid #EEEEEE;
border-radius: 5px;
}
#genders{
    position: absolute;
width: 50px;
height: 18px;
left: 562px;
top: 20px;

font-family: 'Euclid Circular B';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;



color: #995D53;

}
#lname{
    box-sizing: border-box;

    position: absolute;
    left: 320px;
    top: 40px;
    width: 125px;
    height: 24px;

    background: #F7F7F7;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    }

.male{
    position: absolute;
    left:580px;
    top:40px;
}
#male{
    position: absolute;
    left: 610px;
    top:40px;

}
.female{
    position: absolute;
    left: 640px;
    top:40px;
}
#female{
    position: absolute;
    left: 690px;
    top:40px;
}
.wishlist{
    position: absolute;
    left:320px;
    top:100px;
    font-family: 'Euclid Circular B';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;



color: #995D53;
}
#wishlist{
    width: 320px;
    height:80px;
    background: #F7F7F7;
border: 1px solid #EEEEEE;
border-radius: 5px;
}
#p{
    position: absolute;
    top:140px;
    font-family: 'Euclid Circular B';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;



color: #995D53;

}


#password{
    position:absolute;
    top:160px;
    width:120px;
    background: #F7F7F7;
border: 1px solid #EEEEEE;
border-radius: 5px;
}
.buttons{
    position:absolute;
    top:220px;
    left:590px;
}
#ok{
    position:absolute;
    left:5px;
width:100px;
font-family: 'Euclid Circular B';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

    color: #FFFFFF;
    box-sizing: border-box;
    background: #B57369;
border: 1px solid #995D53;
border-radius: 5px;
}

#cancel{
    position:absolute;
    right:0px;
    width:100px;
    font-family: 'Euclid Circular B';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

color: #995D53;

    box-sizing: border-box;
    background: #F7F7F7;
border: 1px solid #EEEEEE;
border-radius: 5px;
}
.plus{
    position: absolute;
    top: 641px;
    left:150px;
    width:840px;
    height:50px;
    background: #FFF;
    border-radius: 0px 0px 20px 20px;
    }
    #plus{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 413px;
    top: 0px;
    
    border: 2px solid #995D53;
    }
table{
    position: absolute;
    top:200px;
}

#wish{
    position: absolute;
width: 850px;
height: 330px;
left: 148px;
top: 360px;
display: none;
background: #FFFFFF;
border-radius: 20px;
}
.wishtit{
    position: absolute;
    top: 20px;
    left: 100px;
}
#food{
    position:absolute;
    top:90px;
}
#sub{
    position:absolute;
    top:130px;
}
#animal{
    position: absolute;
    top: 170px;

}
#nashef{
    position: absolute;
    top: 210px;
}
#ta3ate{
    position: absolute;
    top: 245px;
}
#waldane{
    position: absolute;
    top: 280px;
}
#farashe{
    position: absolute;
    right:110px;
    top:90px;
}
#sardine{
    position: absolute;
    right:110px;
    top:130px;
}
#helem{
    position: absolute;
    right:110px;
    top:170px;
}
#arnab{
    position: absolute;
    right:110px;
    top:210px;
}
#awe{
    position: absolute;
    right:110px;
    top:245px;
}
#keresh{
    position: absolute;
    right:110px;
    top:280px;
}
#cls{
    cursor:pointer;
    background:#FFFFFF;

}

.makeInline {
    display: inline;
}