/* .titles{
    position: absolute;
    width: 870px;
    height: 51px;
    left: 185px;
    bottom: 152px;
    background-color: #B57369;
    border: 2px solid #B57369;
    border-radius: 20px 20px 0px 0px;
    display: flex;


}
#name{

} */